.gr_custom_container_1763509539 {
  padding: 10px 5px 10px 20px;
  background-color: #FFFBF0;
  color: #141414;
}
.gr_custom_container_1763509539 * {
  color: #141414 !important;
}
.books-wrapper-1763509539.content-card-border::before {
  background: linear-gradient(
    180deg,
    #664935 0%,
    #664935 35%,
    transparent 100%
  ) !important;
}
.gr_custom_header_1763509539 {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 150%;
}
.gr_custom_each_container_1763509539 {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1763509539 {
  overflow: hidden;
  height: 60px;
  float: left;
  margin-right: 4px;
  width: 39px;
}
.gr_custom_author_1763509539 {
  font-size: 10px;
}
.gr_custom_tags_1763509539 {
  font-size: 10px;
  color: gray;
}
.gr_custom_rating_1763509539 {
  float: right;
}
/* Hide Goodreads logo */
.gr_custom_container_1763509539 img[alt="goodreads.com"] {
  display: none;
}
.gr_custom_container_1763509539 > div[style*="text-align: center"] {
  display: none;
}

